// change the theme
$theme-colors: (
  "super-light-blue": #ECF7FF,
  "light-blue": #ADDCFF,
  "orange": #F58F4C,
  "gray": #F7F7F7,
  "white": #FFFFFF,
);

.card-custom-height {
  height: 2.5rem;
  line-height: 1.5rem;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';