// change the theme
$theme-colors: (
  "super-light-blue": #ECF7FF,
  "light-blue": #ADDCFF,
  "orange": #F58F4C,
  "gray": #F7F7F7,
  "white": #FFFFFF,
  "teal-300": #79DFC1,
  "teal-400": #4DD4AC,
  "teal-500": #20c997,
  "teal-600": #1aa179,
  "blue": #0DCAF0,
);

.card-custom-height {
  height: 2.5rem;
  line-height: 1.5rem;
}

.blurred-image {
  filter: blur(3px);
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.bg-transparent-black {
  background-color: rgba(32, 31, 31, 0.205);
}